.playlist {

    &__item {
        width: 100%;
        display: block;
        margin-bottom: 12px;
        
    }

    &__track {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.track {

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 447px;
    }

    &__title_image {
        width: 51px;
        height: 51px;
        padding: 16px;
        background: #313131;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
    }


    &__title_link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__title_span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4E4E4E;
    }

    &__author {
        width: 321px;
        display: flex;
        justify-content: flex-start;
    }

    &__author_link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: left;
    }

    &__album {
        width: 245px;
    }

    &__album_link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #696969;
    }


    &__time_svg {
        width: 14px;
        height: 12px;
        margin-right: 17px;
        fill: transparent;
        stroke: #696969;
    }

    &__time_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #696969;

    }
}
