.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(28, 28, 28, 0.5);

    &__content {
        display: flex;
        flex-direction: column;

    }

    &__player_progress {
        width: 100%;
        height: 5px;
        background: #2E2E2E;
        accent-color: #AD61FF;
    }

    &__player_block {
        height: 73px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__player {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__volume_block {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 92px 0 0;
    }
}


.player {

    &__controls {
        display: flex;
        flex-direction: row;
        padding: 0 27px 0 31px;
    }

    &__btn_prev,
    &__btn_play,
    &__btn_next,
    &__btn_repeat,
    &__btn_shuffle {
        padding: 5px;
        display: flex;
        align-items: center;
    }

    &__btn_prev {
        margin-right: 23px;
    }

    &__btn_prev_svg {
        width: 15px;
        height: 14px;
    }

    &__btn_play {
        margin-right: 23px;
        cursor: pointer;
    }

    &__btn_play_svg {
        width: 22px;
        height: 20px;
        fill: #D9D9D9;

    }

    &__btn_next {
        margin-right: 28px;
        fill: #a53939;
    }

    &__btn_next_svg {
        width: 15px;
        height: 14px;
        fill: inherit;
        stroke: #D9D9D9;
    }

    &__btn_repeat {
        margin-right: 24px;
    }


    &__btn_shuffle {
        display: flex;
        align-items: center;
    }

    &__track_play {
        display: flex;
        flex-direction: row;
    }
}



.track_play {

    &__contain {
        width: auto;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'image author''image album';
        align-items: center;
    }

    &__image {
        width: 51px;
        height: 51px;
        background-color: #313131;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        grid-area: image;
    }

    &__svg {
        width: 18px;
        height: 17px;
        fill: transparent;
        stroke: #4E4E4E;
    }


    &__author {
        grid-area: author;
        min-width: 49px;
    }

    &__author_link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        white-space: nowrap;
    }

    &__album {
        grid-area: album;
        min-width: 49px;
    }

    &__album_link {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__like_dis {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 26%;
    }

    &__like,
    &__dislike {
        padding: 5px;
    }

    &__dislike {
        margin-left: 28.5px;
    }
}



.volume {

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    &__image {
        width: 13px;
        height: 18px;
        margin-right: 17px;
    }

    &__svg {
        width: 13px;
        height: 18px;
        fill: transparent;

    }

    &__progress {
        width: 109px;
    }

    &__progress_line {
        width: 109px;
    }
}

.track__title_span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E4E4E;
}